## Ignore Visual Studio Temporary Files and Build Output
[Bb]in/
[Oo]bj/
*.suo
*.user
*.sln.docstates

# VS Code specific files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Rider / Resharper 
.idea/
*.sln.iml